/* Classes */

/* This handles any text inside a jumbotron */
.headline-info-text {
    /*border: 5px black solid;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* This handles any title inside a jumbotron */
.headline-info-title {
    /*border: 5px black solid;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Jumbrotrons should be placed inside this component */
.jumbrotron-container {
    /*border: 5px black solid;*/
    height: auto;
    margin-bottom: 0px;
    margin-left: auto;
    margin-top: 62px;
    margin-right: auto;
    width: 100%;
}

.jumbotron-improved {
    background: no-repeat;
    background-position: center;
    height: auto;
    max-height: 700px;
    min-height: 500px;
}

.jumbotron-improved p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}



/*  Ids  */
#content-container {
    height: auto;
    width: 100%;
}

#content {
    height: auto;
    width: 960px;
}

/* This handles the footer container with my personal information */
#footer-my-info-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align:center;
}
