{
    "presets": [
        [
              "@babel/preset-env",
              {
                "useBuiltIns": "usage",
                "corejs": 3
              }
            ],
            [
              "@babel/preset-react",
              {
                "runtime": "automatic"  // Enabling the new JSX Transform from React 17+
              }
            ]
          ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime"
    ]
}