# Annoying items
.DS_Store/

# Maven
target/
public/

# NPM
node_modules/
node/
npm-debug.log
npm/

# Output Files
main.min.css
main.js

# VSCode
.vscode
.settings
.classpath
.project
.factorypath
.DS_Store