# Annoying items
.DS_Store/

# Intellj
*.iml
.idea

# Maven
target/
public/

# NPM
node_modules/
node/
npm-debug.log
npm/

# Output Files
main.min.css
main.js
main.js.LICENSE.txt
main.js.map

# Gradle
.gradle/
build/

# VSCode
.vscode
.settings
.classpath
.project
.factorypath
.DS_Store

package-lock.json
yarn.lock

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp
