# Annoying items
.DS_Store/

# Intellj
*.iml
.idea

# Maven
target/
public/

# NPM
node_modules/
node/
npm-debug.log
npm/

# Output Files
main.min.css
main.js
main.js.LICENSE.txt

# VSCode
.vscode
.settings
.classpath
.project
.factorypath
.DS_Store