h1 {
  font-family: "Helvetica Neue";
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

html {
  background-color: #dadada;
  width: 100%;
}

html #container {
  background-color: #ffffff;
  border: 1px solid #656464;
  border-radius: 4px;
  box-shadow: 0px 1px 2px;
  margin: 0 auto;
}

html #container #header {
  display: inline-grid;
  width: 100%;
}

html #container #header #header-menu {
  background-color: #00766c;
  height: 30px;
  width: 100%;
}

html #container #header #header-text {
  background-color: #26a69a;
  height: 75px;
  text-align: center;
  width: 100%;
}

html #container #body {
  display: inline-grid;
  width: 100%;
}

html #container #body #body-title {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

html #container #body #content {
  margin: 25px;
  width: 100%;
}

html #container #body #fields {
  padding: 10px 0px;
  text-align: center;
}

html #container #body #fields input {
  border: 1px solid #eae7e7;
  font-size: 17px;
  height: 40px;
  margin: 5px 0px;
  padding: 0px 0px 0px 15px;
  width: 85%;
}

html #container #body #fields button {
  border: 1px solid #eae7e7;
  background-color: #fffdfd;
  border-radius: 5px;
  font-size: 14px;
  margin: 25px;
  width: 50%;
}
