/* Navigation.css */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff; /* Set background color as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
}

.logo a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #333333; /* Set logo color */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #333333; /* Set link color */
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.login-button,
.signup-button {
  padding: 10px;
  background-color: #333333; /* Set button background color */
  color: #ffffff; /* Set button text color */
  border: none;
  cursor: pointer;
}

.login-button a:link, 
.logout-button a:link,
.profile-button a:link,
.signup-button a:link {
  color: white;
  text-decoration: none;
}

.login-button a:visited, 
.logout-button a:visited,
.profile-button a:visited,
.signup-button a:visited {
  color: white;
  text-decoration: none;
}