<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Void" />
    <meta name="keywords" content="thevoid,void" />
    <meta name="description" content="Void | Login" />
    <meta property="og:title" content="Void | Login" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="/images/headers/logo.png" />
    <meta property="og:description" content="Void | Login" />
    <title>Void | Login</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="shortcut icon" href="/images/headers/logo.png"/>
</head>

<body>
    <div id="nav"></div>
    <main role="main">
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
                <h1 class="display-3">Void Login</h1>
                <p>Login functionality coming soon.</p>
            </div>
        </div>
    </main>
    <footer id="footer"></footer>
    <script type="module" src="/js/main.js"></script>
</body>

</html>
