extends layout

block content
    #container
        #nav
        #main
            div(class='jumbotron')
                div(class='container')
                    h1(class='text-center')=title
            #body
                #body-title
                    h3 Today's Pick:
                    #getRestaurantData
                #fields
            footer(id='footer')