<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Azurras | Azurmite</title>
    <link href="/apps/azurmite/public/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/apps/azurmite/public/lib/phaser/build/phaser.min.js"></script>
    <script type="text/javascript" src="/apps/azurmite/public/js/development/main.js"></script>
    <!-- <script type="text/javascript" src="/apps/azurmite/public/js/production/main.min.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.min.css">
    <link rel="shortcut icon" href="/public/images/headers/logo.png">
</head>

<body>
    <div class="container">
        <div ng-app="header" ng-controller="headerController">
            <header id="header" ng-include="'/apps/header/html/header.html'"></header>
        </div>
        <div id="main">
            <div id="azurmite"></div>
        </div>
        <div ng-app="footer" ng-controller="footerController">
            <footer id="footer" ng-include="'/apps/footer/html/footer.html'"></footer>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="/public/js/main.min.js"></script>

</html>