extends layout

block content
    #container
        #nav
        #main
            div(class='jumbotron')
                div(class='container')
                    h1(class='text-center') Enter the Blog Post
            #fields
                input#input-title(type='text', placeholder='Title')
                input#input-author(type='text', placeholder='Author')
                input#input-date(type='text', placeholder='Date')
                textarea#input-post(type='text' placeholder='Post')
                button#blog-button-add Add Blog Post
            footer(id='footer')