doctype html
html
    head
        title=title
        link(rel='stylesheet', href='/public/css/whats-for-lunch/style.css')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        block content
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
        script(type='module' src='/public/js/whats-for-lunch/maincontroller.mjs')