body{
	background-image:url('');
	text-align: center;
}

h1 {
	color: #000000;
	text-align: center;
	font-size: 
}

img{
	border: 0px solid;
	border-radius: 10px;
	box-shadow: 10px 10px 10px #000000;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

iframe{
	border: 0px solid;
	border-radius: 5px;
	box-shadow: 10px 10px 10px #000000;
	margin-left: auto;
	margin-right: auto;
	display: block;

}

p {
	font-size: 18px
}

a{
	display: block;
	width: 120px;
	text-decoration: none;
	color: #000000;
	font-size: 20px;
}

li {
	float:left;
}

ul {
	list-style-type: none;
}

/* Classes start here */

.article {

	margin-top: 50px;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 50px;

	border: 0px solid #000000;
	padding-top: 50px;
	padding-bottom: 50px;
}

.article-title{
	font: bold;
}

.article-text {
	background-image:url();
	background-color: white;
	border: 0px solid #000000;
	border-radius: 10px;
	margin-top: 20px;

	font-family: "Times New Roman", Times, serif;

	margin-left: auto;
	margin-right: auto;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

	box-shadow: 10px 10px 10px #000000;

	text-indent: 50px;
	float:center;
	width: 40em;
	height: auto;
}



/* IDS Start here */

#content {
	background-image:url('background2.png');
	border: 0px solid #000000;
	border-radius: 10px;
	box-shadow: 10px 10px 10px #000000;

	width: 960px;
	margin: 0 auto;
	text-align: left;

}

#header-container {
	background-image:url('background2.png');
	box-shadow: 10px 10px 5px #000000;
	border: 0px solid;
	border-radius: 10px;

	margin-left: -480px;

	position: fixed;

	width: 957px;
	top:0;
	left:50%;
	display: block

}

#header {
	

	margin:0 auto;
	width: 940px;
	padding-bottom: 30px;

	text-align: center;

}

#disqus_thread {
	margin-left: 100px;
	width: 100px
	color: white;
	font: black;
}






