extends layout

block content
    #container
        #nav
        #main
            div(class='jumbotron')
                div(class='container')
                    h1(class='text-center') Enter the Restaurant's Info
            #fields
                input#input-name(type='text', placeholder='Name')
                button#button-add Add Restaurant
            footer(id='footer')