<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Christopher Bell (cbell7@icloud.com)" />
    <meta name="keywords" content="azurras,cbell,blog" />
    <meta name="description" content="CB | Home" />
    <meta property="og:title" content="CB | Home" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.christopherbell.dev/" />
    <meta property="og:image" content="/images/headers/logo.png" />
    <meta property="og:description" content="CB | Home" />

    <title>CB | Home</title>

    <link rel="stylesheet" type="text/css" href="/css/simple.css"/>
    <link rel="shortcut icon" href="/images/headers/logo.png"/>
</head>

<body>
    <header>
        <h1>Christopher Bell</h1>
        <h3>Development</h3>
        <hr>
        <h3><a href="/blog">Blog</a></h3>
        <h3><a href="/photography">Photography</a></h3>
    </header>
    <main>
        <p>The purpose of this page is to test out new development</p>
        <p>The purpose of this page is to test out new development</p>
        <p>The purpose of this page is to test out new development</p>
        <p>The purpose of this page is to test out new development</p>
        <p>The purpose of this page is to test out new development</p>
        <p>The purpose of this page is to test out new development</p>
        <p>The purpose of this page is to test out new development</p>
        <p>The purpose of this page is to test out new development</p>
        <p>The purpose of this page is to test out new development</p>
        <p>The purpose of this page is to test out new development</p>
        <p>The purpose of this page is to test out new development</p>
        <p>The purpose of this page is to test out new development</p>
        <p>The purpose of this page is to test out new development</p>
        <p>The purpose of this page is to test out new development</p>
    </main>
</body>
</html>