<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Flush</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.min.css" />
    <link rel="shortcut icon" href="/flush/images/flush-logo.png" />
</head>

<body>
    <div id="flush-nav"></div>
    <main role="main">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Flush Media</h1>
                <p class="lead">Your spot for nuanced entertainment.</p>
                <hr class="my-4">
                <p>Join the fam and subscribe to the podcast below.</p>
            </div>

        </div>
    </main>
    <div id="container-fluid">
        <div class="row">
            <div class="col">
                <div class="podcast-links">
                    <a class="podcast-link" target="_blank"
                        href="https://podcasts.apple.com/us/podcast/flush/id1516189054">Apple Podcast</a>
                    <a class="podcast-link" target="_blank"
                        href="https://podcasts.google.com/?feed=aHR0cDovL3d3dy5henVycmFzLmNvbS9mbHVzaC9mZWVkLnhtbA&ved=2ahUKEwjmgoiG4ujpAhXMXs0KHbrdAr8Q4aUDegQIARAC&hl=en">Google
                        Podcast</a>
                    <a class="podcast-link" target="_blank" href="https://open.spotify.com/show/6VlgSSlJiRDxFdYeiL3iO5">Spotify
                        Podcast</a>
                    <a class="podcast-link" target="_blank" href="https://discord.gg/xR2FG3U">Join our Discord!</a>
                </div>
            </div>
            <div class="card-deck">
                <div class="card mb4 box-shadow">
                    <img class="card-img-top" src="/flush/images/a_rice_blog.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">A. Rice's First Blog!</h5>
                        <p class="card-text">Coming Soon!</p>
                        <a href="#" class="btn btn-primary">Coming Soon!</a>
                    </div>
                </div>
                <div class="card mb4 box-shadow">
                    <img class="card-img-top" src="/flush/images/a_rice_blog.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gooddogthedog's First Blog!</h5>
                        <p class="card-text">Coming Soon!</p>
                        <a href="#" class="btn btn-primary">Coming Soon!</a>
                    </div>
                </div>
                <div class="card mb4 box-shadow">
                    <img class="card-img-top" src="/flush/images/a_rice_blog.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Azurras's First Blog!</h5>
                        <p class="card-text">Coming Soon!</p>
                        <a href="#" class="btn btn-primary">Coming Soon!</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
<script src="/js/main.min.js"></script>
<script type="text/javascript" async src="/js/main.js"></script>

</html>