<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Christopher Bell (cbell7@icloud.com)" />
    <meta name="keywords" content="azurras,cbell,blog" />
    <meta name="description" content="CB | Home" />
    <meta property="og:title" content="CB | Home" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.christopherbell.dev/" />
    <meta property="og:image" content="/images/headers/logo.png" />
    <meta property="og:description" content="CB | Home" />

    <title>CB | Home</title>

    <link rel="stylesheet" type="text/css" href="/css/main.min.css"/>
    <link rel="shortcut icon" href="/images/headers/logo.png"/>
</head>

<body>
    <div id="nav"></div>
    <main role="main">
        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
                <h1 class="display-3 text-center">Welcome</h1>
            </div>
        </div>
    </main>
    <div class="container-fluid bg-light py-5">
        <div class="card-group">
            <div class="card mb-4 text-center">
                <div class="card-body">
                    <h5 class="card-title">SMP</h5>
                    <p class="card-text">The Small Movements Podcast</p>
                    <a href="/smp" class="btn btn-primary flush-light-blue">Go</a>
                </div>
            </div>
            <div class="card mb-4 text-center">
                <div class="card-body">
                    <h5 class="card-title">Blog</h5>
                    <p class="card-text">Read my latest blog post</p>
                    <a href="/blog" class="btn btn-primary flush-light-blue">Go</a>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none">
                <!-- wrap every 2 on sm-->
            </div>
            <div class="card mb-4 text-center">
                <div class="card-body">
                    <h5 class="card-title">What's For Lunch</h5>
                    <p class="card-text">Find out what to eat in Austin today.</p>
                    <a href="/wfl" class="btn btn-primary flush-light-blue">Go</a>
                </div>
            </div>
            <div class="w-100 d-none d-md-block d-lg-none">
                <!-- wrap every 3 on md-->
            </div>
            <div class="w-100 d-none d-sm-block d-md-none">
                <!-- wrap every 2 on sm-->
            </div>
            <div class="w-100 d-none d-lg-block d-xl-none">
                <!-- wrap every 4 on lg-->
            </div>
        </div>
    </div>
    <footer id="footer"></footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="module" src="/js/main.js"> </script>

</html>