<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Christopher Bell (cbell7@icloud.com)" />
    <meta name="keywords" content="azurras,cbell,blog" />
    <meta name="description" content="CB | Resume" />
    <meta property="og:title" content="CB | Resume" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.azurras.com/" />
    <meta property="og:image" content="/images/headers/logo.png" />
    <meta property="og:description" content="CB | Resume" />

    <title>CB | Resume</title>

    <link rel="stylesheet" type="text/css" href="/css/main.min.css"/>
    <link rel="shortcut icon" href="/images/headers/logo.png"/>
</head>

<body>
    <div id="nav"></div>

    <main role="main">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3 text-center">Resume</h1>
            </div>
        </div>
    </main>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="">Education</h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <ul>
                    <li>
                        <a style="color:#3e3f3a;" href="http://www.xula.edu" target="_blank">
                            <p>
                                Xavier University of Louisiana
                            </p>
                        </a>
                        <ul>
                            <li>
                                <p>
                                    Major GPA: 3.56/4.00
                                </p>
                            </li>
                            <li>
                                <p>
                                    Cumulative GPA: 3.13/4.00
                                </p>
                            </li>
                            <li>
                                <p>
                                    Member of Computer Science Club
                                </p>
                            </li>
                            <li>
                                <p>
                                    President of XULA National Society of Black Engineers Chapter (2014-2015)
                                </p>
                            </li>
                            <li>
                                <p>
                                    Recipient of HBCU-UP Scholarship
                                </p>
                            </li>
                            <li>
                                <p>
                                    Recipient of Jefferson Dollars for Scholars Scholarship
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="">Experience</h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <ul>
                    <li>
                        <p>
                            Software Developer (06/2015 to Present)
                        </p>
                        <ul>
                            <li>
                                <p>
                                    General Motors – Austin, TX
                                </p>
                                <ul>
                                    <li>
                                        <p>
                                            Maintain current Opel and Non-Car Brand Websites
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            On-boarded websites for countries in new markets for ACDelco, and
                                            My Certified Service
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Developed Python based application to keep track of broken links on
                                            a given site
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Developed Bash script to identify unused assets in digital asset
                                            repository to be scheduled for deletion
                                        </p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            Web Developer (01/2015)
                        </p>
                        <ul>
                            <li>
                                <p>
                                    Trinity Counseling Center, LLC – Mandeville, LA
                                </p>
                                <ul>
                                    <li>
                                        <p>
                                            Developed website to advertise Trinity Counseling Center's
                                            services.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            LA-SiGMA Intern (06/2014 to 07/2014)
                        </p>
                        <ul>
                            <li>
                                <p>
                                    Louisiana Tech University – Ruston, LA
                                </p>

                                <ul>
                                    <li>
                                        <p>
                                            Worked in a team of five in an agile environment.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Developed testing plan for IMS project.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Presented work at Tulane University.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            Student Web Developer (11/2013 to 04/2014)
                        </p>
                        <ul>
                            <li>
                                Xavier University of Louisiana – New Orleans, LA
                                <ul>
                                    <li>
                                        Developed website (www.xula.edu/studentmedia/herald/) for Xavier's
                                        student newspaper.
                                    </li>
                                    <li>
                                        Used languages such as HTML, CSS, and JavaScript.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Undergraduate Researcher (06/2013 to 08/2013)
                        <ul>
                            <li>
                                Xavier University of Louisiana – New Orleans, LA

                                <ul>
                                    <li>
                                        Developed an application to predict if Biology students would graduate
                                        based on previous grades.
                                    </li>
                                    <li>
                                        Used languages such as HTML, CSS, and JavaScript.
                                    </li>
                                    <li>
                                        Used languages such as HTML, CSS, and JavaScript.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Undergraduate Researcher (02/2012 to 07/2012)
                        <ul>
                            <li>
                                Xavier University of Louisiana – New Orleans, LA
                                <ul>
                                    <li>
                                        Developed iOS application to help consultants track pay based on their
                                        location.
                                    </li>
                                    <li>
                                        Worked with high performance computing using the LONI platform.
                                    </li>
                                    <li>
                                        Learned basics of high performance computing by working with MPI
                                        commands.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Computer Science Tutor (02/2012 to 05/2012)
                        <ul>
                            <li>
                                Xavier University of Louisiana – New Orleans, LA
                                <ul>
                                    <li>
                                        Helped Xavier students understand the basics of C++.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="">Skills</h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <ul>
                    <li>
                        Java
                    </li>
                    <li>
                        JavaScript
                    </li>
                    <li>
                        Python
                    </li>
                    <li>
                        C++
                    </li>
                    <li>
                        HTML/CSS
                    </li>
                    <li>
                        SQL
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer id="footer"></footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript" async src="/js/main.js"> </script>

</html>