extends layout



block content
    
    #container
        #header
            #header-menu
            #header-text
                h1=title
        #body
            #body-title
                h3 Please Enter the Post's ID
            #fields
                input#input-blog-id(type='text', placeholder='ID')
                button#blog-button-delete Delete Post