<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Christopher Bell" />
    <meta name="keywords" content="cbell,photography" />
    <meta name="description" content="CB | Home" />
    <meta property="og:title" content="CB | Home" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.christopherbell.dev/" />
    <meta property="og:image" content="/images/headers/logo.png" />
    <meta property="og:description" content="CB | Photography" />

    <title>CB | Photography</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="shortcut icon" href="/images/headers/logo.png"/>
</head>

<body>
    <div id="nav"></div>
    <main>
        <section class="py-5 text-center main-color">
            <h1 class="fw-light">Photo Gallery</h1>
        </section>
        <div class="bg-light py-5" id="gallery"></div>
    </main>
    <footer id="footer"></footer>
</body>

<script type="module" src="/js/main.js"> </script>

</html>