<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Christopher Bell" />
    <meta name="keywords" content="cbell,photography" />
    <meta name="description" content="CB | Photography Usage" />
    <meta property="og:title" content="CB | Photography Usage" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.christopherbell.dev/" />
    <meta property="og:image" content="/images/headers/logo.png" />
    <meta property="og:description" content="CB | Photography Usage" />

    <title>CB | Photography Usage</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="shortcut icon" href="/images/headers/logo.png"/>
</head>

<body>
    <div id="nav"></div>
    <main role="main" class="container">
        <div class="row">
            <div class="col">
                <p>Usage of the images on this site is forbidden without written consent from the owner.</p>
            </div>
        </div>
    </main>
    <footer id="footer"></footer>
    <script type="module" src="/js/main.js"></script>
</body>

</html>
