<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Christopher Bell" />
    <meta name="keywords" content="cbell,blog" />
    <meta name="description" content="CB | Home" />
    <meta property="og:title" content="CB | Home" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.christopherbell.dev/" />
    <meta property="og:image" content="/images/headers/logo.png" />
    <meta property="og:description" content="CB | Home" />

    <title>CB | Home</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="shortcut icon" href="/images/headers/logo.png"/>
</head>

<body>
    <div id="nav"></div>
    <main role="main">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3 text-center">Home</h1>
            </div>
        </div>
    </main>
    <footer id="footer"></footer>
</body>

<script type="module" src="/js/main.js"> </script>

</html>
